# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional files
.env
.DS_Store

# VS Code
.vscode/

# System files
Thumbs.db

# Ignore package-lock.json
package-lock.json
*.jpg